name: OneState Auto Scanner
on: 
  workflow_dispatch:
    inputs:
      ipa_url:
        description: 'Lipește link-ul IPA'
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Descărcare IPA
        run: wget -v -O game.ipa "${{ github.event.inputs.ipa_url }}"
          
      - name: Extragere Fișiere Joc
        run: |
          unzip game.ipa -d temp_ipa
          find temp_ipa -name "global-metadata.dat" -exec cp {} ./metadata.dat \;
          find temp_ipa -name "UnityFramework" -exec cp {} ./binary \; || find temp_ipa -name "OneState" -exec cp {} ./binary \;

      - name: Instalare Dumper (Sursă Alternativă)
        run: |
          # Folosim un mirror direct pentru a evita eroarea 404 de pe GitHub
          mkdir dumper_tool
          curl -L "https://github.com/Perfare/Il2CppDumper/releases/download/v6.7.40/Il2CppDumper-net6.0.zip" -o dumper_tool/dumper.zip
          cd dumper_tool && unzip dumper.zip

      - name: Executare Scanare
        run: |
          dotnet dumper_tool/Il2CppDumper.dll ./binary ./metadata.dat ./output

      - name: Salvare Rezultate
        uses: actions/upload-artifact@v4
        with:
          name: Dump-OneState
          path: output/
