name: OneState Auto Scanner
on: 
  workflow_dispatch:
    inputs:
      ipa_url:
        description: 'Link IPA'
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Descărcare IPA
        run: curl -L "${{ github.event.inputs.ipa_url }}" -o game.ipa
          
      - name: Extragere Fișiere
        run: |
          unzip game.ipa -d temp_ipa
          find temp_ipa -name "global-metadata.dat" -exec cp {} ./metadata.dat \;
          find temp_ipa -name "UnityFramework" -exec cp {} ./binary \; || find temp_ipa -name "OneState" -exec cp {} ./binary \;

      - name: Pregătire Dumper
        run: |
          curl -L https://github.com/Perfare/Il2CppDumper/releases/download/v6.7.40/Il2CppDumper-net6.0.zip -o dumper.zip
          unzip dumper.zip -d dumper_tool
          # Nu mai avem nevoie de chmod pentru varianta .net core, o rulăm direct cu dotnet

      - name: Executare Scanare
        run: |
          dotnet dumper_tool/Il2CppDumper.dll ./binary ./metadata.dat ./output

      - name: Salvare Rezultate
        uses: actions/upload-artifact@v4
        with:
          name: Dump-OneState
          path: output/
