name: OneState Auto Scanner
on: 
  workflow_dispatch:
    inputs:
      ipa_url:
        description: 'Lipește link-ul IPA'
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Descărcare IPA
        run: wget -O game.ipa "${{ github.event.inputs.ipa_url }}"
          
      - name: Extragere Fișiere Joc
        run: |
          unzip game.ipa -d temp_ipa
          find temp_ipa -name "global-metadata.dat" -exec cp {} ./metadata.dat \;
          find temp_ipa -name "UnityFramework" -exec cp {} ./binary \; || find temp_ipa -name "OneState" -exec cp {} ./binary \;

      - name: Instalare Dumper
        run: |
          # Descărcăm varianta de Linux binară într-un mod forțat
          curl -L "https://github.com/Perfare/Il2CppDumper/releases/download/v6.7.40/Il2CppDumper-linux-x64.zip" -o dumper.zip
          unzip -o dumper.zip -d ./dumper_dir
          chmod +x ./dumper_dir/Il2CppDumper

      - name: Executare Scanare
        run: |
          # Rulăm folosind calea locală directă ./
          ./dumper_dir/Il2CppDumper ./binary ./metadata.dat ./output

      - name: Salvare Rezultate
        uses: actions/upload-artifact@v4
        with:
          name: Dump-OneState
          path: output/
